:root {
  --primary-color: #4864a5;
  --secondary-color: #cae8fa;
  --tertiary-color: #f2eeee;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-container {
  max-width: 600px;
  margin: 2rem auto;
}

nav {
  padding: 1rem 1rem;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin-left: auto;
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--tertiary-color);
  font-weight: 600;
  font-size: 1.25rem;
}

main {
  padding: 2rem 1rem;
  background-color: var(--secondary-color);
  flex: 1;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
}

/* 4 by 4 rows */
.board {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-right: 1rem;
}

.card {
  position: relative;
  box-shadow: 0 2px 4px var(--shadow-color);
  border-radius: 0.5rem;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card,
.front,
.back {
  width: 4rem;
  height: 4rem;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipped,
.matched {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

footer {
  padding: 1rem 1rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  text-align: center;
}

.easy,
.medium,
.hard {
  grid-template-columns: repeat(4, 1fr);
  max-width: 600px;
}

@media (min-width: 600px) {
  .card,
  .front,
  .back {
    width: 6rem;
    height: 6rem;
  }

  .easy {
    grid-template-columns: repeat(4, 1fr);
    max-width: 500px;
  }

  .medium,
  .hard {
    grid-template-columns: repeat(5, 1fr);
    max-width: 600px;
  }

  /* .hard{
    grid-template-columns: repeat(8, 1fr);
    max-width: 1200px;
  } */
}

@media (min-width: 900px) {
  .card,
  .front,
  .back {
    width: 7rem;
    height: 7rem;
  }

  .easy {
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
  }

  .medium,
  .hard {
    grid-template-columns: repeat(6, 1fr);
    max-width: 750px;
  }
}

@media (min-width: 1250px) {
  .card,
  .front,
  .back {
    width: 8rem;
    height: 8rem;
  }

  .easy {
    grid-template-columns: repeat(4, 1fr);
    max-width: 550px;
  }

  .medium {
    grid-template-columns: repeat(6, 1fr);
    max-width: 750px;
  }

  .hard {
    grid-template-columns: repeat(8, 1fr);
    max-width: 1200px;
  }
}
